# 1. while문

In [2]:
treeHit = 0

while treeHit<10:
    treeHit += 1  #treeHit +1
    print('나무를 %d번 찍었습니다.'%treeHit)
    if treeHit ==10:
        print("나무가 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다

In [3]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number:
"""

In [4]:
number = 0
while number !=4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:

 1

1. Add
2. Del
3. List
4. Quit

Enter number:

 2

1. Add
2. Del
3. List
4. Quit

Enter number:

 3

1. Add
2. Del
3. List
4. Quit

Enter number:

 4

In [4]:
# break문 : while문 강제로 빠져 나가기

coffee = 10
money = 300

while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee -= 1
    print("남은 커피의 양은 %d개 입니다."% coffee)
    if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

IndentationError: expected an indented block after 'if' statement on line 10 (1264967536.py, line 11)

In [7]:
coffee = 10


while True:
    money = int(input("돈을 넣어 주세요:"))
    if money == 300:
        print("돈을 받았으니 커피를 줍니다")
        coffee -= 1
    elif money >= 300:
        print("거스름돈 %d를 주고 커피를 줍니다"%(money-300))
        coffee -= 1
    else:
        print ("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print ("거스름돈 %d를 주고 커피를 줍니다"%coffee)
    else:
        print ("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print ("거스름돈 %d를 주고 커피를 줍니다"%coffee)
    if coffee== 0:
        print("커피ㅏ 다")
        break

SyntaxError: invalid syntax (2484158062.py, line 15)

In [10]:
# coutinue문 : 반복문 처음으로 돌아감
a = 0

while a<10:
    a += 1
    if a%2==0: 
        continue
    print(a)

1
3
5
7
9

## 2. for문

In [1]:
test_list = ['one', 'two', 'three']

for i in test_list:  # i 는 반복하는 변수
    print(i) #프린트는 리스트를 찍어주고 줄바꿈까지 해준다.

one
two
three

In [5]:
test_list = ['one', 'two', 'three']

for s in test_list:  # i 는 반복하는 변수
    print(s) #프린트는 리스트를 찍어주고 줄바꿈까지 해준다.

one
two
three

In [9]:
a = [(1,2),(3,4),(5,6)]
print(a[2])
print(a[2][0])

(5, 6)
5

In [11]:
for (first, last) in a:
    print(first + last)

3
7
11

In [12]:
for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [14]:
for first in a:
    print(first)

(1, 2)
(3, 4)
(5, 6)

In [34]:
marks = [90,25,67,45,80] # 학생들의 심험 점수 리스트
number = 0

for mark in marks:
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [35]:
marks = [90,25,67,45,80] # 학생들의 심험 점수 리스트
number = 0 # 학생들에게 붙여줄 번호

for mark in marks:
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [36]:
marks = [90,25,67,45,80] # 학생들의 심험 점수 리스트
number = 0

for mark in marks:
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다."%number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [37]:
#continue 문 사용하면

marks = [90,25,67,45,80] # 학생들의 심험 점수 리스트
number = 0

for mark in marks:
    number += 1
    if mark < 60:
        continue
        print("%d번 학생은 합격입니다." %number)

#### for문과 함께 자주 사용하는 range()함수

In [23]:
a = range(10) 
print(a)
print(type(a))

range(0, 10)
<class 'range'>

In [26]:
a = list(a) 
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [27]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
a = list(range(15,21))
a

[15, 16, 17, 18, 19, 20]

In [33]:
add = 0

for i in range(1,11):
    add += i

print(add)

55

In [39]:
add = 0

for i in range(1,11):
    add += i
    print(add)

print("-"*20)
print(add)

1
3
6
10
15
21
28
36
45
55
--------------------
55

In [44]:
#continue 문 사용하면

marks = [90,25,67,45,80] # 학생들의 심험 점수 리스트

for number in range(len(marks)): # range(5) : 0~4
    if marks[number] < 60:
        continue
    print("%d번 학생은 합격입니다." %(number+1))

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [47]:
# 구구단

for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d"%(i, j, i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [48]:
for i in range(2,10):
    print("%d단"%i)
    for j in range(1,10):
        print("%d * %d = %d"%(i, j, i*j))
    print("-"*20)

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------

#### 리스트 컴프리헨션(comprehension)

In [49]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [52]:
#리스트 컴프리헨션으로 표현

a = [1,2,3,4]
result = [num*3 for num in a]

print(result)

[3, 6, 9, 12]

In [51]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [53]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 1) 기본구조 : [표현식 + for문]

In [55]:
#표현식에 변수 또는 상수를 쓰는 경우
n = 5
result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0]

In [57]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4]

In [58]:
array = list(range(10))  # [0,1,2,3,4,5,6,7,8,9]
result = [n for n in array]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# 표현식에 연산식이나 함수를 쓰는 경우
result = [n*n for n in array]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
str_array= ["list", "comprehension", "python"]
result = [len(string) for string in str_array]
print(result)

[4, 13, 6]

In [64]:
def mod_5(number):
    return number%5

result = [mod_5(n) for n in array]
print(result)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

### 2) [표현식 + for문 + 조건문]

In [65]:
# if문 한 번 사용한 경우
result = [n for n in range(10) if n%2==0]
print(result)

[0, 2, 4, 6, 8]

In [67]:
result = [n for n in range(10) if n%2!=0]
print(result)

[1, 3, 5, 7, 9]

In [68]:
array = [-1,0,-4,24,5,-10,2]
result = [n for n in array if n>0]
print(result)

[24, 5, 2]

In [72]:
# if문 여러번 사용한 경우
result = [n for n in range(50) if n%3==0 if n%2 !=0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]

In [74]:
result = [n for n in range(50) if n%3==0 and n%2!=0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]

### [표현식 + 조건문 + for문]

In [75]:
result = [n for n in range(10) if n%2!=0]
result = [n if n>0 else 0 for n in array]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [77]:
array = [0,1,2,3]
result = ['even' if n%2==0 else 'odd' for n in array]
print(result)

['even', 'odd', 'even', 'odd']

### 중첩 for문

In [78]:
# 중첩 for 문

pos =[]
for i in range(1,4):
    for j in range(1,3):
        pos.append(i*j)
print(pos)

#리스트 컴프리헨션으로
pos = [i*j for i in range(1,4) for j in range(1,3)]
print(pos)

[1, 2, 2, 4, 3, 6]
[1, 2, 2, 4, 3, 6]

### 중첩 List Comprehension

In [79]:
# 2차원 배열 만들기
result = [[0 for i in range(2)] for j in range(3)]
print(result)

[[0, 0], [0, 0], [0, 0]]